<h2>Developers List</h2>
<div class="col-md-6">
  <ul class="list-group">
      <li *ngFor="let developer of developers" @devState="developers.state" (click)="onSelect(developer)" class="list-group-item">
          <span class="badge">{{developer.technology}}</span>
          {{developer.name}}
      </li>
  </ul>
</div>
<div class="col-md-6">
    <developer-detail [developer]="selectedDev"></developer-detail>
</div>
