<h2>Customer detail</h2>
<div class="contact-box">
    <h3>
        <strong>{{customer.firstName}}</strong>
        <strong>{{customer.lastName}}</strong>
    </h3>
    <p>Country: {{customer.country}}</p>
    <p><strong>TimeZone:{{customer.timeZone}}</strong>></p>
    <p title="Phone">Phone:  <span>{{customer.phone}}</span></p>
    <p>email: {{customer.email}}</p>
</div>
