<h2>Customers List</h2>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4" *ngFor="let customer of customers">
            <customer [customers]="customer"></customer>
        </div>
    </div>
</div>
