<div class="container">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <ul class="nav nav-pills">
                <li role="presentation" >
                    <a [routerLink]="['/developers']">Developers</a>
                </li>
                <li role="presentation">
                    <a [routerLink]="['/customers']">Customers</a>
                </li>
                <li role="presentation">
                    <a [routerLink]="['/projects']">Projects</a>
                </li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
  </div>
</div>
