<div class="contact-box" >
    <a [routerLink]="['/customers', customers.id]">
        <div class="col-sm-4">
            <div class="text-center">
                <!-- <img alt="image" class="img-circle m-t-xs img-responsive" [src]="customers.img"> -->
            </div>
        </div>
        <div class="col-sm-8">
            <h3>
                <strong>{{customers.firstName}}</strong>
                <strong>{{customers.lastName}}</strong>
            </h3>
            <p>
                <i class="fa fa-map-marker"></i>
                {{customers.country}}</p>
            <address>
                <abbr title="Phone">P:</abbr>
                {{customers.phone}}
            </address>
        </div>
        <div class="clearfix"></div>
    </a>
</div>
